# Godot cache
.godot/

# Python cache
__pycache__/

# OS files
.DS_Store
Thumbs.db

# Exports
*.export
export_presets.cfg

# Mono
.mono/
data_*/
mono_crash.*.json

# Raw extracted assets (from PS2 ISO)
assets/extracted/
